/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #84a278;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  display: block;
  padding: 0;
  border: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0px 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0px 16px;
  }
}

/* backdrop */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is--hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.backdrop__modal {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  max-height: 609px;
  background-color: white;
  background: #ffffff;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .backdrop__modal {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop__button--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.backdrop__icon--close {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button--close-hover:hover {
  fill: blue;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 12px 34px;
  gap: 6px;
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .btn {
    margin: 0;
  }
}

.btn-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 7px 11px;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  background-color: transparent;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}

@media screen and (min-width: 1200px) {
  .btn-border {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 34px;
  }
}

.btn-transtarent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #f8d24e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .btn-transtarent {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 22px;
  }
}

.btn--cont {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .btn--cont {
    margin: 0;
  }
}

.btn-border--cont {
  gap: 6px;
  margin: 0 auto;
  padding: 12px 46px;
  width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .btn-border--cont {
    margin: 0;
  }
}

.icon-arrow {
  fill: transparent;
  stroke: currentColor;
}

.long-arrow {
  fill: currentColor;
}

.arrow-btn {
  color: #fcfcfc;
}

@media screen and (max-width: 767px) {
  .arrow-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .arrow-btn {
    height: 15px;
    background-color: transparent;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .arrow-btn {
    margin-top: 32px;
  }
}

.long-arrow-btn {
  color: #131313;
  height: 15px;
  background-color: transparent;
}

@media screen and (min-width: 320px) {
  .long-arrow-btn {
    margin-top: 90px;
  }
}

@media screen and (min-width: 768px) {
  .long-arrow-btn {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .long-arrow-btn {
    margin-top: 120px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media screen and (min-width: 768px) {
  .header__nav {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .btn-header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn-header {
    margin-left: auto;
    margin-top: 24px;
  }
}

.btn-menu {
  width: 32px;
  height: 32px;
  margin-left: auto;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .btn-menu {
    margin-left: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
}

.logo-icon {
  width: 48px;
  height: 44px;
}

@media screen and (min-width: 1200px) {
  .logo-icon {
    width: 60px;
    height: 65px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .menu__list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 269px;
    gap: 27px;
  }
}

.menu__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list--link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 65px;
  }
}

.hero__title {
  margin-top: 60px;
  margin-bottom: 32px;
  width: 247px;
  font-family: "Seymour One";
  font-size: 26px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 40px;
    position: absolute;
    margin-bottom: 0px;
    width: 181px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin-top: 45px;
    position: absolute;
    width: 367px;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 320px) {
  .hero__title--fs {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title--fs {
    font-size: 24px;
    line-height: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title--fs {
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) {
  .hero-box {
    position: relative;
    width: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__list {
    position: absolute;
    margin-top: 28px;
    left: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__list {
    position: absolute;
    margin-top: 56px;
    left: 1070px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .hero__list--item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-item__num {
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

@media screen and (min-width: 1200px) {
  .hero-item__num {
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 0.04em;
    color: #131313;
  }
}

@media screen and (min-width: 768px) {
  .hero-item__text {
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    width: 55px;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 1200px) {
  .hero-item__text {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    width: 100px;
    text-align: right;
    color: #fcfcfc;
  }
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .hero-btn {
    padding-top: 129px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-btn {
    padding-top: 217px;
    padding-bottom: 42px;
  }
}

.hero-ice {
  margin-left: 85px;
  margin-right: 78px;
  width: 170px;
  -webkit-filter: drop-shadow(5px 5px 40px rgba(252, 252, 252, 0.44));
          filter: drop-shadow(5px 5px 40px rgba(252, 252, 252, 0.44));
}

@media screen and (min-width: 768px) {
  .hero-ice {
    position: absolute;
    bottom: -14px;
    left: 55%;
    width: 270px;
    height: 343px;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero-ice {
    position: absolute;
    padding-top: 32px;
    bottom: -65px;
    left: 50%;
    width: 484px;
    height: 590px;
  }
}

@media screen and (min-width: 768px) {
  .hero-pick-box {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .hero-dig-ice {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-dig-ice {
    width: 152px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-dig-ice {
    width: 225px;
  }
}

@media screen and (min-width: 768px) {
  .hero-box-text {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .hero__text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero__text {
    width: 151px;
    font-size: 12px;
    line-height: 140%;
    color: #fcfcfc;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 14px;
    width: 220px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .hero__helper-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__helper-box {
    gap: 14px;
  }
}

.products {
  background-image: url(../img/bgc/bgc-ice-2-min.jpg);
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.products__text-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .products__text-title {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .products__text-title {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
  }
}

.products__title {
  margin-bottom: 148px;
  font-size: 30px;
  line-height: 38px;
  font-family: "Seymour One";
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 303px;
  }
}

.products__sec-title {
  padding-top: 123px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .products__sec-title {
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1200px) {
  .products__sec-title {
    font-size: 30px;
    line-height: 37px;
    padding-top: 165px;
  }
}

.products__text {
  margin: 0 auto;
  width: 200px;
  height: 124px;
  font-size: 14px;
  line-height: 176%;
  /* or 25px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .products__text {
    width: 172px;
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products__text {
    font-size: 16px;
    line-height: 176%;
    width: 242px;
    height: 142px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
    height: 590px;
  }
}

.products__list--item:not(:last-child) {
  margin-bottom: 164px;
}

@media screen and (min-width: 768px) {
  .products__list--item {
    margin: 0;
  }
}

.arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__list--pick {
  border-radius: 50%;
  margin: 0 auto;
  width: 200px;
}

@media screen and (min-width: 1200px) {
  .products__list--pick {
    width: 400px;
  }
}

.products-box {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 420px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .products-box {
    width: 224px;
    height: 428px;
  }
}

@media screen and (min-width: 1200px) {
  .products-box {
    width: 370px;
    height: 535px;
  }
}

.products-box--green {
  background-color: #aec6a5;
}

.products-box--yellow {
  background-color: #efd478;
}

.products-box--brown {
  background-color: #d6936d;
}

.circle {
  position: absolute;
  top: -100px;
  left: 50%;
  margin: 0 auto;
  width: 200px;
  height: 211px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 1200px) {
  .circle {
    position: absolute;
    top: -170px;
    left: 50%;
    margin: 0 auto;
    width: 303px;
    height: 317px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.circle--green {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

@media screen and (min-width: 1200px) {
  .circle--green {
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.circle--yellow {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

@media screen and (min-width: 1200px) {
  .circle--yellow {
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.circle--brown {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .circle--brown {
    -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  }
}

.about-adv {
  padding: 60px 0px;
}

@media screen and (min-width: 768px) {
  .about-adv {
    padding-bottom: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .about-adv {
    padding-bottom: 180px;
  }
}

.about-adv__title-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .about-adv__title-text {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .about-adv__title-text {
    font-size: 30px;
    line-height: 37px;
  }
}

.about-adv__title {
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .about-adv__title {
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .about-adv__title {
    font-size: 36px;
    line-height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-adv__pick {
  width: 278px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .about-adv__pick {
    width: 335px;
  }
}

@media screen and (min-width: 1200px) {
  .about-adv__pick {
    width: 490px;
  }
}

.cow-box {
  position: relative;
  margin: 0 auto;
  width: 278px;
  height: 278px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;
}

@media screen and (min-width: 768px) {
  .cow-box {
    width: 336px;
    height: 330px;
    border-radius: 165.879px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .cow-box {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin-right: 100px;
    margin-top: 82px;
  }
}

.range {
  position: absolute;
  top: 22px;
  left: 50%;
  margin: 0 auto;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .range {
    position: absolute;
    top: 22px;
    left: 50%;
    margin: 0 auto;
    width: 336px;
    height: 330px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .range {
    position: absolute;
    top: 22px;
    left: 50%;
    margin: 0 auto;
    width: 490px;
    height: 490px;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .btn-about {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-about {
    margin-top: 48px;
  }
}

.made__list {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .made__list {
    margin-top: 7px;
  }
}

@media screen and (min-width: 1200px) {
  .made__list {
    margin-right: 105px;
    margin-top: 172px;
  }
}

.made__text {
  margin: 0 auto;
  width: 220px;
  font-size: 12px;
  line-height: 176%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .made__text {
    text-align: left;
    width: 336px;
  }
}

@media screen and (min-width: 1200px) {
  .made__text {
    text-align: left;
    width: 463px;
    font-size: 14px;
    line-height: 194%;
  }
}

@media screen and (min-width: 768px) {
  .made__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .made__item:first-child {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  .made__item:nth-child(even) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .made__item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .made__text-first--fs {
    font-weight: 400;
    font-size: 16px;
  }
}

.icon-list {
  margin-top: 42px;
}

@media screen and (min-width: 768px) {
  .icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 48px;
    gap: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-list {
    margin-top: 70px;
    gap: 32px;
  }
}

.icon-num {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  padding-top: 18px;
}

@media screen and (min-width: 768px) {
  .icon-num {
    padding-top: 32px;
    font-size: 48px;
    line-height: 59px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-num {
    padding-top: 40px;
    font-size: 58px;
    line-height: 71px;
  }
}

.icon-text {
  width: 230px;
  padding-top: 18px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */
  text-align: center;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .icon-text {
    font-weight: 400;
    width: 152px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-text {
    width: 368px;
    font-size: 16px;
    line-height: 176%;
  }
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: #f8d24e;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .icon-box:nth-child(n + 1) {
    margin-top: 25px;
  }
}

.cust-rews {
  background-image: url(../img/bgc/bgc-ice-4-min.jpg);
}

.cust-rews__girl {
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 60px;
  width: 85px;
  border-radius: 50%;
}

@media screen and (min-width: 1200px) {
  .cust-rews__girl {
    margin-top: 293px;
  }
}

.cust__text {
  padding: 34px 39px;
  font-size: 12px;
  line-height: 255%;
  /* or 31px */
  text-align: center;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .cust__text {
    padding: 29px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }
}

.cust-box {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  background-color: #84a178;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .cust-box {
    width: 100%;
  }
}

.cust_place {
  margin: 0 auto;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  /* identical to box height, or 37px */
  text-align: center;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .cust_place {
    font-size: 16px;
  }
}

.rews-pick-box {
  position: relative;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 280px;
  height: 130px;
}

@media screen and (min-width: 768px) {
  .rews-pick-box {
    width: 704px;
    height: 163px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .rews-pick-box {
    width: 1014px;
    height: 163px;
  }
}

.cust-rews__unsplashk {
  position: absolute;
  top: -23px;
  margin: 0 auto;
  width: 280px;
  border-radius: 7.5px;
}

@media screen and (min-width: 768px) {
  .cust-rews__unsplashk {
    border-radius: 18px;
    width: 704px;
    height: 327px;
    top: -164px;
  }
}

@media screen and (min-width: 1200px) {
  .cust-rews__unsplashk {
    border-radius: 24px;
    width: 1013px;
    height: 422px;
    top: -94px;
  }
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-bottom: 405px;
  gap: 18px;
  width: 102px;
  height: 12px;
}

@media screen and (min-width: 1200px) {
  .dots {
    padding-bottom: 207px;
  }
}

.sing-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.contacts {
  padding-bottom: 40px;
}

.contacts__list {
  position: relative;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
  }
}

.contacts__list--item {
  margin: 20px auto 32px auto;
  padding: 40px 32px;
  width: 280px;
  background-color: #fcfcfc;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

@media screen and (max-width: 767px) {
  .contacts__list--item:first-child {
    position: absolute;
    top: -463px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .contacts__list--item:nth-child(even) {
    margin-top: 86px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list--item {
    padding: 40px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list--item {
    padding: 40px 40px;
  }
}

.contacts__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 0px 22px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #131313;
  background-color: #f8d24e;
}

@media screen and (min-width: 768px) {
  .contacts__company {
    height: 28px;
    margin-bottom: 20px;
    padding: 0px 14px;
    font-size: 16px;
  }
}

.contacts__address {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .contacts__address {
    padding-bottom: 26px;
  }
}

.contacts__text {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 14px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__text {
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 8px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 183%;
  /* or 22px */
  letter-spacing: 0.04em;
  color: #d6936d;
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
    line-height: 183%;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 16px;
    line-height: 183%;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list--item-first {
    position: absolute;
    top: -304px;
    width: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list--item-first {
    position: absolute;
    top: -95px;
    width: 368px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list--item-sec {
    position: absolute;
    top: -304px;
    left: 240px;
    width: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list--item-sec {
    position: absolute;
    top: -95px;
    width: 368px;
    left: 400px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list--item-third {
    position: absolute;
    top: -304px;
    left: 480px;
    width: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list--item-third {
    position: absolute;
    top: -95px;
    width: 368px;
    left: 800px;
  }
}

@media screen and (min-width: 768px) {
  .cont-btn-dox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    margin-top: 284px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-btn-dox {
    margin-top: 506px;
  }
}

.work-time__list {
  padding: 24px 0px;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .work-time__list {
    padding: 32px 0px;
  }
}

.work-time__list--item:first-child {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .work-time__list--item:first-child {
    margin-bottom: 12px;
  }
}

.work-time__list--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .work-time__list--text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .work-time__list--text {
    font-size: 16px;
    line-height: 186%;
  }
}

.work-time__list--time {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ababab;
}

@media screen and (min-width: 768px) {
  .work-time__list--time {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .work-time__list--time {
    font-size: 16px;
    line-height: 186%;
  }
}

.list-link {
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .list-link {
    padding-top: 32px;
  }
}

.cont-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #131313;
}

@media screen and (min-width: 768px) {
  .cont-link {
    font-size: 14px;
    line-height: 183%;
  }
}

@media screen and (min-width: 1200px) {
  .cont-link {
    font-size: 16px;
    line-height: 183%;
  }
}

.how {
  margin-top: 38px;
}

@media screen and (min-width: 768px) {
  .how {
    margin-top: 40px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .how {
    margin-top: 52px;
    margin-right: auto;
  }
}

.how__title {
  margin-bottom: 16px;
  width: 232px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .how__title {
    margin-bottom: 9px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .how__title {
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
    width: auto;
  }
}

.how__text {
  width: 234px;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (min-width: 768px) {
  .how__text {
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    width: 350px;
  }
}

@media screen and (min-width: 1200px) {
  .how__text {
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .foot-box {
    position: relative;
    margin-left: auto;
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .icon__block {
    position: absolute;
    top: -183px;
    left: 58%;
  }
}

.cont-block {
  margin-top: 38px;
}

@media screen and (min-width: 768px) {
  .cont-block {
    position: absolute;
    top: -61px;
    left: 22%;
  }
}

@media screen and (min-width: 1200px) {
  .cont-block {
    position: absolute;
    top: -65px;
    left: 15%;
  }
}

.mess__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 29px;
  margin-top: 42px;
  margin-bottom: 38tgtpx;
}

@media screen and (min-width: 768px) {
  .icon-mess {
    width: 34px;
    height: 34px;
  }
}

.cont__link {
  display: block;
  margin-left: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */
  text-align: right;
  color: #fcfcfc;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .cont__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
  }
}

@media screen and (min-width: 1200px) {
  .cont__link {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.cont__text {
  color: #131313;
}

.copyrigth {
  margin: 16px auto 62px auto;
}

.copy__text {
  width: 200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  color: #7a7a7a;
}

@media screen and (min-width: 768px) {
  .copy__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    width: auto;
  }
}

@media screen and (min-width: 1200px) {
  .copy__text {
    font-size: 12px;
    line-height: 186%;
  }
}

.bordline {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */