.cont__link {
  display: block;
  margin-left: auto;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* identical to box height, or 22px */

  text-align: right;

  color: $main-light;
  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
font-size: 16px;
}
.cont__text {
  color: $main-dark;
}
