// .cont-block {
// }
// .how {
// }
.how__title {
  margin-bottom: 16px;
  width: 232px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  color: $main-light;
}
.how__text {
  width: 234px;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-light;
}
