.menu-container {
  display: none;
  overflow-y: scroll;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: white;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: white;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.menu-mobile {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-menu {
  display: none;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: block;
    min-width: 100%;
    height: 100%;
    position: relative;
    padding: 24px 20px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: block;
    width: 480px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 40px;
    position: relative;
  }
}

.mobile__button--close {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-top: 10px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    cursor: pointer;
    background: #ffffff;
    border-color: transparent;
  }
}

.mobile-list {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: inline-block;
  }
}

.mobile-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-list__link {
  display: block;

  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: blue;
  }
}

.mobile-list__link--current {
  position: relative;
  color: blue;
}

.mobile-feedback {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: inline-block;
  }
}
.mobile-feedback__link-pnone {
  display: inline-block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: blue;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.mobile-feedback__link {
  display: inline-block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: gray;
}

.mobile-masage {
  display: flex;
  gap: 10px;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
  }
}
.mobile-masage_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: blue;
}
.mobile-masage_item {
  @media screen and (min-width: 320px) and (max-width: 479px) {
    &:not(:last-child) {
      padding-right: 5px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}

.space{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
