@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

@mixin shadow ($width, $height, $top,$left){
  position: absolute;
  top: $top;
  left: $left;

  margin: 0 auto;
  width: $width;
  height: $height;
  border-radius: 50%;

  transform: translateX(-$left);
}