$main-light: #fcfcfc;
$main-dark: #131313;
$main-orange: #d6936d;
$main-white: #ffffff;
$main-yellow: #f8d24e;
$main-grey-disabled: #ababab;
$main-dots-disabled:#D9D9D9;

$color-text-brown: #7a7a7a;
$mian-icon-bg: #fcfcfc;
$color-bg-main: #84a178;
$color-bg-light-green: #aec6a5;
$color-bg-light-yellow: #efd478;

$color-backdrop: rgba(0, 0, 0, 0.2);

$color-hover-focus: #0a8817;
$color-inputs-bg: rgba(248, 210, 78, 0.1);

$transition-duration: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);