.products {
  background-image: url(../img/bgc/bgc-ice-2-min.jpg);
  padding: 60px 0px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 0;
  }
}
.products__text-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  text-transform: uppercase;
  color: $main-dark;
  @media screen and(min-width:768px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media screen and(min-width:1200px) {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.04em;
  }
}
.products__title {
  margin-bottom: 148px;

  font-size: 30px;
  line-height: 38px;

  font-family: "Seymour One";
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-dark;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 200px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 303px;
  }
}

.products__sec-title {
  padding-top: 123px;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-dark;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 27px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 165px;
  }
}
.products__text {
  margin: 0 auto;
  width: 200px;
  height: 124px;
  font-size: 14px;
  line-height: 176%;
  /* or 25px */

  text-align: center;
  letter-spacing: 0.04em;
  color: $main-dark;
  @media screen and (min-width: 768px) {
    width: 172px;
    height: 150px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 176%;
    width: 242px;
    height: 142px;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 500px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    gap: 32px;
    height: 590px;
  }
}

.products__list--item {
  &:not(:last-child) {
    margin-bottom: 164px;
  }
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.arrow-box {
  display: flex;
  justify-content: center;
}
