.rews-pick-box {
  position: relative;
    margin: 0 auto;
  margin-bottom: 80px;

  width: 280px;
  height: 130px;
}

.cust-rews__unsplashk {
  position: absolute;
  top: -23px;
  margin: 0 auto;
  width: 280px;
  border-radius: 7.5px;
}
